:root {
  --basic-black: #000000;
  --basic-very-dark-grey: #363636;
  --basic-dark-grey: #464646;
  --basic-grey: #7e7e7e;
  --basic-darken-grey:#eaeaea;
  --basic-half-grey: #dcdcdc;
  --basic-light-grey: #e5e5e5;
  --basic-very-light-grey: #f2f2f2;
  --basic-white: #ffffff;
  --white-very-transparent: rgba(255, 255, 255, 0.3);
  --black-less-half-transparent: rgba(0, 0, 0, 0.4);
  --yellow-very-transparent: rgba(0, 0, 0, 0.3);
  --special-dark-yellow: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --status-pink: #f6dada;

}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-style: normal;
  /* color: var(--basic-black); */
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button-small {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: normal;
}

.header-main {
  background-color: var(--special-yellow);
}

.header-main a {
  color: var(--basic-black);
}

.nav__logo:hover {
  opacity: 0.6;
}

.nav__logo:active {
  opacity: 0.3;
}

.search__text {
  font-family: "Open Sans";
  font-weight: 300;
  opacity: 0.3;
  background-color: transparent;
}

.search__text:hover {
  opacity: 0.6;
}

.search__text:focus {
  opacity:1;
  background-color: var(--special-yellow);
}

.search__button {
  font-family: inherit;
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--special-yellow);
}

/* .search__button:focus {
  background-color: var(--special-yellow);
} */

.search__button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search__button:active {
  background-color: var(--basic-black);
  color: var(--white-very-transparent);
}

.customer-option__list {
  list-style-type: none;
}

.customer-option__item--logout {
  opacity: 0.3;
}

.customer-option__item--inactive {
  display: none;
}

.customer-option__link:hover,
.customer-option__link:focus  {
  opacity: 0.6;
}

.customer-option__link:active {
  opacity: 0.3;
}

.header-menu__list {
  list-style-type: none;
}

.header-menu__item {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-menu__link:hover,
.header-menu__link:focus {
  opacity: 0.6;
}

.header-menu__link:active {
  opacity: 0.3;
}

.header-menu__sublist {
  list-style-type: none;
}

.header-menu__sublink:hover,
.header-menu__sublink:focus {
  opacity: 0.6;
}

.header-menu__sublink:active {
  opacity: 0.3;
}

.slider-banner a {
  color: var(--basic-black);
}

.slider-banner__list {
  list-style-type: none;
}

.slider-banner__title {
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.characteristics {
  list-style-type: none;
  font-weight: 300;
}

.characteristics__value {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.characteristics__text {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.category__list {
  list-style-type: none;
}

.category__list a {
  color: var(--basic-black);
}

.category__link {
  background-color: var(--special-yellow);
  letter-spacing: 0.05em;
}

.category__link:hover,
.category__link:focus {
  background-color: var(--special-dark-yellow);
}

.category__link:active {
  background-color: var(--special-dark-yellow);
}

.category__image {
  background-color: var(--basic-very-dark-grey);
}

.category-text {
  letter-spacing: 0.05em;
}

.slider-service__list {
  list-style-type: none;
}

.slider-service__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.slider-service__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.slider-service__button {
  color: var(--basic-black);
}

.slider-service__button:hover {
  color: var(--special-yellow);
}

.brands__list {
  list-style-type: none;
}

/* .about-us a {
  color: var(--basic-black);
} */

.about-us__title,
.contacts__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us__description,
.about-us__transport {
  line-height: 28px;
}

.about-us__transport-list {
  list-style-type: none;
}

.about-us__transport-link {
  line-height: 28px;
  color: var(--basic-black);
}

.about-us__transport-link:hover,
.about-us__transport-link:focus {
  opacity: 0.6;
}

.about-us__transport-link:active {
  opacity: 0.3;
}

.about-us__details-link,
.contacts__form-link {
  color: var(--basic-black);
}

.contacts__description {
  line-height: 28px;
}

.footer-page {
  background-color: var(--basic-very-dark-grey);
}

.footer-page__logo:hover {
  opacity: 0.6;
}

.footer-page__logo:active {
  opacity: 0.3;
}

.footer-page a {
  color: var(--basic-white);
}

.customer-bar__list {
  list-style-type: none;
}

.customer-bar__item--inactive {
  display: none;
}

.customer-bar__link {
  opacity: 0.7;
}

.customer-bar__link:hover,
.customer-bar__link:focus {
  opacity: 1;
}

.customer-bar__link:active {
  opacity: 0.3;
}

.footer-info__address {
  color: var(--basic-white);
}

.footer-menu__list {
  list-style-type: none;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
  opacity: 0.6;
}

.footer-menu__link:active {
  opacity: 0.3;
}

.social__list {
  list-style-type: none;
}

.social__link {
  opacity: 0.3;
}

.social__link:hover,
.social__link:focus {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.1;
}

.copyright__link:hover {
  opacity: 0.6
}

.copyright__link:active {
  opacity: 0.3
}

.catalog-page__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.path-page__list {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
}

.path-page__list a {
  color: var(--basic-black);
}

.path-page__item {
  display: inline;
}

.path-page__item:not(:last-child)::after {
  content: ">";
}

.path-page__link {
  opacity: 0.3;
}

.path-page__link:hover {
  opacity: 0.6;
}

.path-page__link:active {
  opacity: 0.1;
}

.filters__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-half-grey);
}

.filter-form {
  background-color: var(--basic-light-grey);
}

.filter-form__submit {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  background-color: inherit;
}

.device-price__title,
.device-color__title,
.device-function__title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.device-color__list,
.device-function__list {
  list-style-type: none;
}

.device-price__min-price,
.device-price__max-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.device-price__min-value,
.device-price__max-value {
  font-family: inherit;
  background-color: inherit;
}

.device-color__item,
.device-function__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.sort {
  background-color: var(--basic-light-grey);
}

.sort__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort__param-list,
.sort__order-list {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.sort__value + .sort__text{
  opacity: 0.3;
}

.sort__value:hover + .sort__text{
  opacity: 0.6;
}

.sort__value:checked + .sort__text{
  opacity: 1;
}

.product__list {
  list-style-type: none;
}

.product__image {
  background-color: var(--basic-light-grey);
}

.product__mark {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.3;
}

.product__image-wrapper:hover {
  opacity: 0.7;
}

.product__add-button {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.product__add-button:hover {
  background-color: var(--special-dark-yellow);
}

.product__add-button:active {
  background-color: var(--special-dark-yellow);
  color: var(--yellow-very-transparent);
}

.product__compare-button {
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.product__compare-button:hover {
  opacity: 1;
}

.product__compare-button:active {
  opacity: 0.2;
}

.product__name {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.product__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.product__pagination-list {
  list-style-type: none;
}

.product__pagination-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.product__pagination-link:hover {
  opacity: 0.3;
}

.correspondence {
  background-color: var(--basic-white);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}

.contact-form__value {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: var(--basic-very-light-grey);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
  color: var(--black-less-half-transparent);
}

.contact-form__value:hover {
  background-color: var(--basic-darken-grey);
}

.contact-form__value:focus {
  background-color: transparent;
  color: var(--basic-very-dark-grey);
  /* border: 2px solid var(--special-yellow); */
}

.contact-form__submit {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 00.2em;
  line-height: 22px;
}
